body {
  background-color: #f8f9fa;
}

.header {
  background-color: #78b83d;
}

.search-bar input {
  border-radius: 20px;
  border: none;
}

button.btn-lg.active {
  background-color: #78b83d;
  color: white;
  border-radius: 20px;
}

button.btn-lg {
  background-color: #f8f9fa;
  color: black;
  border-radius: 20px;
}

.product-box {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-box p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.fixed-bottom {
  background-color: #78b83d;
}

.fixed-bottom img {
  width: 24px;
}
